<html>
<head>
  <title> PARKS ARENA </title>
  <link href="<%= url('/mystyle.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>PARKS QUAKE ARENA</h1>
<h3>ONDE OS FRACOS NÃO TEM VEZ</h3>

<%if match.nil?%>
    <span class='no_match'> MATCH UPDATING </span>
<%end%>
<%if match.users.empty?%>
    <span class='no_match'> NO MATCH TODAY - <%= date%> </span>
<%else%>
    <span>MATCH ID: <%= match.id%></span>
    <span>DATE: <%= match.date%></span>

    <table>
      <tr>
        <th> PLACE </th>
        <th> RANK </th>
        <th> NAME </th>
        <th> KILL </th>
        <th> DEATH </th>
        <th> SUICIDE </th>
        <th> RATIO </th>
      </tr>
      <%match.users.sort_by{|user| user.rank}.reverse.each_with_index do |user, i|%>
          <tr>
            <td>
              <%= i+1%>
            </td>
            <%= user.main_html(i+1, archie, match.id)%>
          </tr>
      <%end%>
    </table>
<%end%>
</body>
</html>