<link href="<%= url('/mystyle.css') %>" rel="stylesheet" type="text/css" />
<title>Maps</title>


MATCH: <%= match_date%>
<table class='simples'>
  <%maps.each_with_index do |map,index|%>
      <tr>
        <%next unless score.has_key? index.to_s%>
        <td><%= index + 1%></td>
        <td>
          <img width="256" height="256" src= <%= "/#{map}.jpg"%>> <%= map%>
        </td>

        <td>
          <%if score.has_key? index.to_s%>
              <%score[index.to_s].each do |e|%>
                  <%= e[:user]%> - <%= e[:kills]%>  <br/>
              <%end%>
          <%end%>
        </td>
      </tr>
  <%end%>
</table>

<img src="data:image/png;base64,<%=image[0]%>"/>
<%1.upto (image.size - 1) do |i| %>
    <img src="data:image/png;base64,<%= image[i]%>"/>
<%end%>