<div style="display: table;">
  <div style="display: table-row;">
    <div style="display: table-cell;">&#8594; <a href="#timeline">Timeline</a></div>
  </div>
  <div style="display: table-row;">
    <div style="display: table-cell;">&#8594; <a href="#weapons">WEAPONS PIZZA CHART</a></div>
  </div>
</div>

<br/>

<link href="<%= url('/mystyle.css') %>" rel="stylesheet" type="text/css" />
<title><%= user.nick%></title>

<%= user.personal_result(list)%>

<div id='timeline'><h2 i>TIMELINE</h2></div>

<div style="display: table;">
  <%info = {}
    info[:suicide] = 0
    info[:kill]    = 0
    info[:death]   = 0
  %>
  <%user.timeline.each do |event|%>
      <%if event.has_key? :suicide%>
          <div style="display: table-row;">
            <div style="display: table-cell; width: 50px"><img src='/suicide.png' title='Suicide' width="20"/></div>
            <div style="display: table-cell; width: 50px"><%= event[:suicide]%> </div>
            <%info[:suicide] += 1%>
            <div style="display: table-cell;">SUICIDE</div>
          </div>
      <%end%>

      <%if event.has_key? :kill%>
          <div style="display: table-row;">
            <div style="display: table-cell"><img src='/target.png' title='KILL'/></div>
            <div style="display: table-cell"><%= event[:kill][:time]%></div>
            <div style="display: table-cell;"><%= list[event[:kill][:user]]%> </div>
            <%info[:kill] += 1%>
          </div>
      <%end%>

      <%if event.has_key? :death%>
          <div style="display: table-row;">
            <div style="display: table-cell"><img src='/skull.png' title='DEAD'/></div>
            <div style="display: table-cell"><%= event[:death][:time]%></div>
            <div style="display: table-cell;"><%= list[event[:death][:user]]%></div>
            <%info[:death] += 1%>
          </div>
      <%end%>

      <%if event.has_key? :begin_map%>
          <div style="display: table-row;">
            <div style="display: table-cell;"></div>
            <div style="display: table-cell;"><h4>STARTING <%= event[:begin_map]%></h4></div>
            <div style="display: table-cell;"></div>
          </div>
      <%end%>

      <%if event.has_key? :end_map%>
          <div style="display: table-row;">
            <div style="display: table-cell;"></div>
            <div style="display: table-cell;"> END MAP </div>
            <div style="display: table-cell;"></div>
          </div>

          <div style="display: table-row;">
            <div style="display: table-cell;"></div>
            <div style="display: table-cell;">
              <img src='/target.png' title='KILL'/>   <%= info[:kill] += 1%>                 <br/>
              <img src='/skull.png' title='DEATH'/>   <%= info[:death] += 1%>                <br/>
              <img src='/suicide.png' title='Suicide' width="20"/>   <%= info[:death] += 1%> <br/>
              <%
                 info[:suicide] = 0
                 info[:kill]    = 0
                 info[:death]   = 0
              %>
            </div>
            <div style="display: table-cell;"></div>
          </div>
      <%end%>
  <%end%>

</div>

<div id='weapons'><h2 i>WEAPONS PIZZA CHART</h2></div>
<img src="data:image/png;base64,<%= Base64.encode64(image.to_blob).gsub(/\n/, '')%>"/>

